@import "tailwindcss";

/* Variáveis customizadas de cor */
@theme {
  --color-vinho-50: oklch(0.95 0.02 23.2);
  --color-vinho-100: oklch(0.88 0.05 23.2);
  --color-vinho-200: oklch(0.589 0.116 23.25);
  --color-vinho-300: oklch(0.495 0.119 23.63);
  --color-vinho-400: oklch(0.407 0.112 24.16);
  --color-vinho-500: oklch(0.323 0.103 24.78);
  --color-vinho-600: oklch(0.255 0.089 23.32);
  --color-vinho-700: oklch(0.208 0.068 23.26);
  --color-vinho-800: oklch(0.161 0.049 24.63);
  --color-vinho-900: oklch(0.117 0.038 19.85);
}

